/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 0;
}

.jumbotron {
  background-size: cover;
  height: 959px;
  margin-bottom: 0;
}

.contact-tron {
  background: linear-gradient(rgba(24, 24, 24, 0.4), rgba(24, 24, 24, 0.4)),
    url(../img/contact-print.jpg);
  background-size: cover;
  background-position: center center;
  border-bottom: 0.3rem solid #ccff00;
}

.diamond {
  background-color: rgba(0, 175, 181, 0.1);
  padding-top: 3em;
  padding-bottom: 3em;
}

.black {
  color: black;
  font-size: 1.3em;
  background-color: #d9e76cc4;
  padding: 1em;
}

.candidate {
  background-color: rgba(0, 175, 181, 0.8);
  padding: 1em;
  color: #e7ecef;
}

footer {
  padding-bottom: 60px;
}

.fa-heart {
  color: #a30000;
}

.hero {
  background: linear-gradient(rgba(24, 24, 24, 0.4), rgba(24, 24, 24, 0.4)),
    url(../img/contact-print.jpg);
  background-size: cover;
  background-position: center center;
}

.signin {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.hero {
  position: relative;
  background-color: #f9fafb;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  overflow: hidden;
}

.h-back {
  height: 70vh;
}

.north {
  padding-top: 3em;
  padding-bottom: 3em;
}

.collab {
  padding-bottom: 5em;
}
