/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 0;
}

.jumbotron {
  background-size: cover;
  height: 959px;
  margin-bottom: 0;
}

.diamond {
  background-color: rgba(0, 175, 181, 0.1);
  padding-top: 3em;
  padding-bottom: 3em;
}

.black {
  color: black;
  font-size: 1.3em;
  background-color: #d9e76cc4;
  padding: 1em;
}

.candidate {
  background-color: #611c35c4;
  padding: 1em;
}

footer {
  padding-bottom: 60px;
}

.fa-heart {
  color: #a30000;
}
