@import "../../bootstrap-4.2.1/scss/_functions.scss";

$blue:    #313B72;
$indigo:  #462255;
$red:     #AF1B3F;
$yellow:  #CCFF00;
$green:   #62A87C;
$white:   #D7D9B1;

$primary:  $indigo;
$font-family-sans-serif:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace:       "Courier New", monospace;
$font-family-base:            $font-family-monospace;
$enable-rounded:              false;

$headings-font-family:        $font-family-sans-serif;
$headings-font-weight:        300;

$jumbotron-bg:                $yellow;

@import "../../bootstrap-4.2.1/scss/bootstrap.scss";
