@import "../../bootstrap-4.2.1/scss/_functions.scss";

$blue:    #5F7593;
$indigo:  #344576;
$red:     #AF1B3F;
$yellow:  #ADAC66;
$green:   #62A87C;
$white:   #FDFFFC;
$black:   #262B2E;
$gray-200: #e9ecef;

$primary:  $blue;
$font-family-sans-serif:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace:       "Courier New", monospace;
$font-family-base:            $font-family-monospace;
$enable-rounded:              false;

$headings-font-family:        $font-family-sans-serif;
$headings-font-weight:        300;

$jumbotron-bg:                $gray-200;

@import "../../bootstrap-4.2.1/scss/bootstrap.scss";
