@import "../../bootstrap-4.2.1/scss/_functions.scss";

$black:   #0C120C;
$red:     #A30000;
$orange:  #FF7700;
$yellow:  #CCFF00;
$green:   #6C8F38;
$teal:    #00AFB5;
$blue:    #21438C;
$indigo:  #4E008E;
$pink:    #D1BCE3;
$white:   #E7ECEF;

$primary:  $indigo;
$font-family-sans-serif:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace:       "Courier New", monospace;
$font-family-base:            $font-family-monospace;
$enable-rounded:              false;

$headings-font-family:        $font-family-sans-serif;
$headings-font-weight:        300;

$jumbotron-bg:                $blue;

@import "../../bootstrap-4.2.1/scss/bootstrap.scss";
